@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
🔹 Primary Color: #D71920 (Red - Breaking news highlight ke liye)
🔹 Secondary Color: #1A1A1A (Dark Gray - Headlines ke liye)
🔹 Background Color: #F5F5F5 (Light Gray - Readability ke liye)
🔹 Accent Color: #0056B3 (Blue - Links aur important elements ke liye)
🔹 Text Color: #333333 (Dark text for readability) 

        API KEY:        e317ec98b04b453da8f2176af582914e          */


:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
  }
  